* {
    font-family: 'Poppins', Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(25, 29, 8);
    margin: 0;
    padding: 0;
    color: lightgoldenrodyellow;
}

.container {
    width: 100%;
}
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
/*     row-gap: 20px; */
}
.wrapper > * {
    padding: 20px;
}
.header {
    grid-column: span 12;
    padding: 0;
    height: 75vh;
}
nav {
    background-color: #1f1f1e;
    border-bottom: 1px dotted darkgoldenrod;
}
.navbar {
    list-style: none;
    display: flex;
    height: 60px;
    width: 80%;
    max-width: 1200px;
    justify-content: end;
    padding: 0;
    margin:0 auto;
}
.navbar > li {
    display: flex;
    color: #f7f4c8;
    height: 100%;
    padding: 0 20px;
    line-height: 60px;
}
.logo {
    margin-right: auto;
}
main {
    background-color: rgb(88, 87, 69);
    grid-column: span 9;
}
aside {
    grid-column: span 3;
    background-color: rgb(70, 78, 58);
}
footer {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
footer > section {
    grid-column: span 3;
}

